<ion-view view-title="Chats">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <!-- <button class="button" ng-click="doSomething()">Left Button</button> -->
        </div>
        <h1 class="title">MENSAGENS</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ng-repeat="chat in msgs" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <img src="img/user.png">
                <h2>{{chat.pessoa.nome}}</h2>
                <p>{{chat.livro.nome}}</p>
                <ion-icon name="chatboxes" style="color: #FF5D0B"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>