<ion-view view-title="My books">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <!-- <button class="button" ng-click="doSomething()">Left Button</button> -->
        </div>
        <h1 class="title">MEUS LIVROS</h1>
    </ion-header-bar>
    <ion-tabs id="meusLivroTabs" class="tabs-positive tabs-top">
        <ion-tab title="MEUS">
            <ion-floating-button click="add()" has-footer="true" button-color="#424242" icon="ion-plus" icon-color="#fff">
            </ion-floating-button>
            <ion-scroll zooming="true" direction="y">
                <div class="list" style="margin-top: 92px">

                    <div class="item" style="color: #FF5D0B">
                        Pendente: implementação na próxima versão
                    </div>
                    <div class="item" style="padding-top: 0; border: none">
                        <div class="card" ng-repeat="livro in livros" style="width: 45%; margin:0;margin-top: 16px;" ng-style="{'float': $index % 2 !== 0 ? 'right' : 'left'}">
                            <img ng-src="{{livro.volumeInfo.imageLinks.thumbnail}}" height="218">
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="EMPRESTEI">
            <ion-floating-button click="add()" has-footer="true" button-color="#424242" icon="ion-plus" icon-color="#fff">
            </ion-floating-button>
            <ion-scroll zooming="true" direction="y">
                <div class="list" style="margin-top: 92px">

                    <div class="item" style="color: #FF5D0B">
                        Pendente: implementação na próxima versão
                    </div>
                    <div class="item" style="padding-top: 0; border: none">
                        <div class="card" ng-repeat="livro in livros | filter:{ emprestado: '!false'}" style="width: 45%; margin:0;margin-top: 16px;" ng-style="{'float': $index % 2 !== 0 ? 'right' : 'left'}">
                            <img ng-src="{{livro.volumeInfo.imageLinks.thumbnail}}" height="218">
                            <h2>{{livro.emprestado.email}}</h2>                            
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="PEGUEI">
            <ion-floating-button click="add()" has-footer="true" button-color="#424242" icon="ion-plus" icon-color="#fff">
            </ion-floating-button>
            <ion-scroll zooming="true" direction="y">
                <div class="list" style="margin-top: 92px">

                    <div class="item" style="color: #FF5D0B">
                        Pendente: implementação na próxima versão
                    </div>
                    <div class="item" style="padding-top: 0; border: none">
                        <div class="card" ng-repeat="livro in livrosComigo" style="width: 45%; margin:0;margin-top: 16px;" ng-style="{'float': $index % 2 !== 0 ? 'right' : 'left'}">
                            <img ng-src="{{livro.volumeInfo.imageLinks.thumbnail}}" height="218">
                            <h2>{{livro.dono.email}}</h2>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </ion-tab>
    </ion-tabs>
</ion-view>