<ion-header-bar class="bar bar-header bar-positive">
    <label class="item item-input" style="width: 100%">
        <input type="text" placeholder="Pesquisar" style="width: 100%; height: 40px;" ng-model="search.volumeInfo.title" />
        <i class="icon ion-ios-search-strong placeholder-icon" style="font-size: 16pt; margin: 12px; color: #FF9E44"></i>
    </label>
</ion-header-bar>
<ion-view view-title="Dashboard">
    <ion-content>
        <div class="list">
            <div class="item">
                Resultados encontrados: {{filtered.length}}
            </div>
            <a class="item item-thumbnail-left" ng-repeat="livro in filtered = (livros | filter:search)" href="#">
                <img ng-src="{{livro.volumeInfo.imageLinks.thumbnail}}">
                <h2>{{livro.volumeInfo.title}}</h2>
                <p>
                    <span ng-repeat="autor in livro.volumeInfo.authors">{{autor}}, </span>
                    <span>{{livro.volumeInfo.publishedDate.split('-')[0]}}</span>
                </p>
                <p>Dono(a):
                    <span class="dono-livro">{{livro.dono}}Lucas Cavalcante</span>
                </p>
            </a>

        </div>
    </ion-content>
</ion-view>