<ion-view view-title="My books">
    <ion-floating-button click="add()" has-footer="true" button-color="#424242" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
    <ion-content class="padding" style="padding: 16px">
        <div class="list card" ng-repeat="livro in livros" style="width: 156px; height: 218px;" ng-style="{'float': $index % 2 === 0 ? 'left':'right'}">
            <div class="item item-image">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51RsfR5VbjL.jpg" alt="livro">
            </div>
        </div>
    </ion-content>
</ion-view>